/* src/components/WeatherModal.css */
.modal {
  display: block;
  width: 50%;
  height: auto;
  max-height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #333;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
}
  
.modal h2 {
  margin-top: 0;
}

.modal .weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal .weather-info img {
  width: 100px;
  height: 100px;
}

.modal .weather-info p {
  margin: 0.5rem 0;
}

.modal p strong {
  font-weight: bold;
}

.back-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #0056b3;
}
